body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*--------------------------------- General Rules */

header {
  background-color: black;
  color: white;
  padding: 0 30px;
  padding-top: 10px;
}

footer {
  background-color: white;
  height: 2vh;
  margin-top: 8vh!important;
  padding: 10px 0;
}

footer a {
  color: black;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.end {
  text-align: end;
}

.mt-3 {
  margin-top: 10px;
}

.mr-3 {
  margin-right: 10px;
}

.ml-3 {
  margin-left: 10px;
}

.mb-3 {
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-pointer {
  pointer-events: none;
}

.logo {
  filter:invert();
  height: 84px;
}

/*--------------------------------- Home Styling */

form textarea {
  min-height: 200px;
}

.daily-image {
  position: relative
}

.image-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 10.0rem;
}

.stars img {
  width: 50px;
  height: 50px;
}

.stars-review img {
  width: 35px;
  height: 35px;
}

.main-image {
  margin-left: auto;
  margin-right: auto;
  filter: brightness(50%);
  object-fit: cover;
  height: 800px;
  z-index: -1;
}

/*--------------------------------- profile-styling */

.profile-header {
  border-bottom: 1px black solid;
}

.profile-header h1, h2, h3, h4, h5 {
  display: inline-block
}

.profile-content {
  justify-content: space-between;
  align-items: flex-end;
}

.profile-name {
  font-size: 10rem;
}

/*--------------------------------- tier-list-styling */

:root {
  --tier-item-size: 175px;
}

.tier-row {
  transition: height 0.5s;
}

.tier-list .row {
  min-height: 200px;
  padding: 10px 0;
}

.tier-label {
  border-right: 2px white solid;
  margin-right: 5px;
  align-self: stretch;
  justify-content: center;
}

.tier-label img {
  width:35px;
  height:35px;
  user-select: none;
}

.tier-list .item-image {
  float: right;
  user-select: none;
  box-sizing: border-box;
  object-fit: cover;
  height: var(--tier-item-size);
  width: var(--tier-item-size);
  transition: height 0.5s, width 0.5s, filter 0.5s;
  filter: brightness(50%);
  z-index: -1;
  pointer-events: none;
  
}

.tier-item {
  position: relative;
  width: var(--tier-item-size);
  max-height: var(--tier-item-size);
  background-color: white;
  margin: 2px 10px;
  border: 0;

  transition: max-height 0.5s, width 0.5s, border 0.5s;
}

.tier-list h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  font-size: 3rem;
  font-weight: 100;
  color: white;
  pointer-events: none;
  left: 50%;
  transition: color 0.5s, left 0.5s, top 0.5s, transform 0.5s, font-size 0.5s, font-weight 0.5s;
}

.tier-item.clicked {
  width: 75%;
  max-height: calc(var(--tier-item-size) + 20px);
}

.clicked .item-image {
  height: calc(var(--tier-item-size) + 20px) ;
  width: calc(var(--tier-item-size) + 20px);
  filter: none;
}

.clicked h6 {
  color: #000000;
  font-size: 5rem;
  left:2%;
  top: -5%;
  transform: none;
  font-weight: bold;
}

.tier-content {
  width: 100%;
}

.extra-info {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 5%;
  max-width: calc(4 * var(--tier-item-size));
  height: calc(var(--tier-item-size) / 2);
  
}

.clicked .extra-info {
  visibility: visible;
}

.extra-info p {
  opacity: 0;
  font-size: 2.5rem;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clicked .extra-info p {
  opacity: 1;
}

#tierFive {
  background-color: #000000;
}

#tierFour {
  background-color: #404040;
}

#tierThree {
  background-color: #737373;
}

#tierTwo {
  background-color: #b3b3b3;
}

#tierOne {
  background-color: #d9d9d9;
}
