body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*--------------------------------- General Rules */

header {
  background-color: black;
  color: white;
  padding: 0 30px;
  padding-top: 10px;
  align-items: center;
}

footer {
  background-color: white;
  height: 2vh;
  margin-top: 8vh!important;
  padding: 10px 0;
}

footer a {
  color: black;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-pointer {
  pointer-events: none;
}

.no-decorate, .no-decorate:hover {
  text-decoration: none;
  color: black;
}

.logo {
  filter:invert();
  height: 84px;
}

/*--------------------------------- Nav Styling */

header img {
  filter: invert();
}

header button {
  border: 0;
}

.side-modal {
  position: fixed;
  background: black;
  top:0;
  left:-15vw;
  height: 100vh;
  width: 15vw;
  
  z-index: 1000;
  transition: left 0.3s;
}

.side-modal.true {
  left:0;
  transition: left 0.3s;
}

.modal-content {
  padding: 40px 30px;
  
  height: 100%;
}

.top-content, .search{
  border-bottom: 1px white solid;
}

.search {
  margin: 10px 10px;
}

.following-list {
  color: white;
  padding: 10px;
}

.following-list a {
  color: white;
}

.follower:hover {
  background-color: #141414;
}

/*--------------------------------- Home Styling */

form textarea {
  min-height: 200px;
}

.daily-image {
  position: relative
}

.image-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 20.0rem;
}

.stars img {
  width: 50px;
  height: 50px;
}

.stars-review img {
  width: 35px;
  height: 35px;
}

.main-image {
  margin-left: auto;
  margin-right: auto;
  filter: brightness(50%);
  object-fit: cover;
  height: 800px;
  z-index: -1;
}

/*--------------------------------- profile-styling */

.profile-header {
  border-bottom: 1px black solid;
  position: relative;
}

.profile-header h1, h2, h3, h4, h5 {
  display: inline-block
}

.profile-header .text-end {
  position: absolute;
  right:0;
  bottom: 0;
}

.profile-header .Follow {
  color: white;
  background-color: black;
}

.profile-name {
  font-size: 10rem;
  display: inline;
}

.title-dropdown {
  display: inline;
  position: relative;
  width: min-content;
}

.titles-list {
  display: none;
  position: absolute;
  background-color: #000000;
  color: white;
  left: 0;
  top: 20px;
  width: max-content;
  z-index: 10;
}

.titles-list h6 {
  margin: 0;
  padding: 10px;
  user-select: none;
}

.title-dropdown:hover {
  width: auto;
}

.title-dropdown:hover .titles-list {
  display: block;
}

.titles-list h6:hover {
  background-color: #404040;
}



/*--------------------------------- tier-list-styling */

:root {
  --tier-item-size: 175px;
  --transition-time: 0.5s;
}

.tier-row {
  transition: height 0.5s;
}

.tier-list .row {
  min-height: 200px;
  padding: 10px 0;
}

.tier-label {
  border-right: 2px white solid;
  margin-right: 5px;
  align-self: stretch;
  justify-content: center;
}

.tier-label img {
  width:35px;
  height:35px;
  user-select: none;
}

.tier-list .item-image {
  float: right;
  user-select: none;
  box-sizing: border-box;
  object-fit: cover;
  height: var(--tier-item-size);
  width: var(--tier-item-size);
  transition: height var(--transition-time), width var(--transition-time), filter var(--transition-time);
  filter: brightness(50%);
  z-index: -1;
  pointer-events: none;
  
}

.tier-item {
  position: relative;
  flex-basis:0;
  max-height: var(--tier-item-size);
  background-color: white;
  margin: 4px 10px;

  transition: max-height var(--transition-time), flex-basis var(--transition-time), border var(--transition-time);
}

.tier-list h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  font-size: 3rem;
  font-weight: 100;
  color: white;
  pointer-events: none;
  left: 50%;
  transition: color var(--transition-time), left var(--transition-time), top var(--transition-time), transform var(--transition-time), font-size var(--transition-time), font-weight var(--transition-time);
}

.tier-item.clicked {
  flex-basis:calc(3 * (var(--tier-item-size) + 20px));
  z-index: 1000;
  max-height: calc(var(--tier-item-size) + 20px);
}

.clicked .item-image {
  height: calc(var(--tier-item-size) + 20px) ;
  width: calc(var(--tier-item-size) + 20px);
  filter: none;
}

.clicked h6 {
  color: #000000;
  font-size: 5rem;
  left:2%;
  top: -5%;
  transform: none;
  font-weight: bold;
  pointer-events: all;
}

.tier-content {
  width: 100%;
}

.extra-info {
  visibility: hidden;
  position: absolute;
  top: 35%;
  left: 5%;
  max-width: calc(2 * (var(--tier-item-size)));
  height: calc(var(--tier-item-size) / 2);
  
}

.clicked .extra-info {
  visibility: visible;
}

.extra-info p {
  opacity: 0;
  font-size: 2rem;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: opacity var(--transition-time);
}

.clicked .extra-info p {
  opacity: 1;
}

#tierFive {
  background-color: #000000;
}

#tierFour {
  background-color: #404040;
}

#tierThree {
  background-color: #737373;
}

#tierTwo {
  background-color: #b3b3b3;
}

#tierOne {
  background-color: #d9d9d9;
}

/* -------------------- SINGLE REVIEW STYLING */

.border-top {
  border-top: 1px solid black;
}

textarea.reply {
  min-height: 100px;
}


/* -------------------- BOOTSTRAP MARGINS AND PADDING SHORTCUTS */

.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:0.25rem!important}.mt-1,.my-1{margin-top:0.25rem!important}.mr-1,.mx-1{margin-right:0.25rem!important}.mb-1,.my-1{margin-bottom:0.25rem!important}.ml-1,.mx-1{margin-left:0.25rem!important}.m-2{margin:0.5rem!important}.mt-2,.my-2{margin-top:0.5rem!important}.mr-2,.mx-2{margin-right:0.5rem!important}.mb-2,.my-2{margin-bottom:0.5rem!important}.ml-2,.mx-2{margin-left:0.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:0.25rem!important}.pt-1,.py-1{padding-top:0.25rem!important}.pr-1,.px-1{padding-right:0.25rem!important}.pb-1,.py-1{padding-bottom:0.25rem!important}.pl-1,.px-1{padding-left:0.25rem!important}.p-2{padding:0.5rem!important}.pt-2,.py-2{padding-top:0.5rem!important}.pr-2,.px-2{padding-right:0.5rem!important}.pb-2,.py-2{padding-bottom:0.5rem!important}.pl-2,.px-2{padding-left:0.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}.m-n1{margin:-0.25rem!important}.mt-n1,.my-n1{margin-top:-0.25rem!important}.mr-n1,.mx-n1{margin-right:-0.25rem!important}.mb-n1,.my-n1{margin-bottom:-0.25rem!important}.ml-n1,.mx-n1{margin-left:-0.25rem!important}.m-n2{margin:-0.5rem!important}.mt-n2,.my-n2{margin-top:-0.5rem!important}.mr-n2,.mx-n2{margin-right:-0.5rem!important}.mb-n2,.my-n2{margin-bottom:-0.5rem!important}.ml-n2,.mx-n2{margin-left:-0.5rem!important}.m-n3{margin:-1rem!important}.mt-n3,.my-n3{margin-top:-1rem!important}.mr-n3,.mx-n3{margin-right:-1rem!important}.mb-n3,.my-n3{margin-bottom:-1rem!important}.ml-n3,.mx-n3{margin-left:-1rem!important}.m-n4{margin:-1.5rem!important}.mt-n4,.my-n4{margin-top:-1.5rem!important}.mr-n4,.mx-n4{margin-right:-1.5rem!important}.mb-n4,.my-n4{margin-bottom:-1.5rem!important}.ml-n4,.mx-n4{margin-left:-1.5rem!important}.m-n5{margin:-3rem!important}.mt-n5,.my-n5{margin-top:-3rem!important}.mr-n5,.mx-n5{margin-right:-3rem!important}.mb-n5,.my-n5{margin-bottom:-3rem!important}.ml-n5,.mx-n5{margin-left:-3rem!important}.m-auto{margin:auto!important}.mt-auto,.my-auto{margin-top:auto!important}.mr-auto,.mx-auto{margin-right:auto!important}.mb-auto,.my-auto{margin-bottom:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}