body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*--------------------------------- General Rules */

header {
  background-color: black;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.end {
  text-align: end;
}

.mt-3 {
  margin-top: 10px;
}

.mr-3 {
  margin-right: 10px;
}

.ml-3 {
  margin-left: 10px;
}

.mb-3 {
  margin-bottom: 10px;
}

.daily-image {
  position: relative
}

/*--------------------------------- Home Styling */

.image-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 7.0rem;
}

.stars img {
  width: 50px;
  height: 50px;
}

.stars-review img {
  width: 35px;
  height: 35px;
}

.main-image {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  filter: brightness(50%);
  z-index: -1;
}

/*--------------------------------- profile-styling */

.profile-header {
  border-bottom: 1px black solid;
}

.profile-header h1, h3, h6 {
  display: inline-block
}